#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Active page button styles */
.page-item.active .page-link {
  background-color: rgb(33, 37, 41); /* Dark background for active button */
  color: #fff; /* White text color for active button */
  border-color: #343a40; /* Dark border for active button */
}

/* Default link style */
.page-item .page-link {
  color: black; /* Default text color for page links */
}

/* Hover and Focus states */
.page-item .page-link:hover, 
.page-item .page-link:focus {
  color: #fff; /* Text color should be white on hover/focus */
  background-color: black; /* Black background on hover/focus */
  border-color: #343a40; /* Dark border for consistency */
}

/* Ensure active page maintains dark styling on hover/focus */
.page-item.active .page-link:hover, 
.page-item.active .page-link:focus {
  background-color: rgb(33, 37, 41); /* Keep active page background dark */
  color: #fff; /* Keep the text white */
  border-color: #343a40; /* Keep the border dark */
}